{% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
{{ form_start(form, {'action': path('newsletter_register'), 'method': 'POST'}) }}
    <div class="newsletter">
        <!--Grid column-->
        <h3>S'inscrire à notre newsletter</h3>
        <!--Grid column-->
        <!-- Email input -->
        {{ form_widget(form.email) }}
        {{ form_label(form.email) }}
        <!--Grid column-->

        <!--Grid column-->
        <!-- Agree button -->
            {{ form_row(form.agreeTerms) }}

        <!--Grid column-->
        <!-- Submit button -->
            {{ form_row(form.Souscrire) }}
        <!--Grid column-->
    </div>
{{ form_end(form) }}
