{{ form_start(form) }}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<div class="row justify-content-lg-center ">
    <div class="col-lg-4 ">
        {{ form_row(form.content) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.envoyer) }}
    </div>
</div>
{{ form_end(form) }}
<div class="">
    <ul style="list-style: none;">
        {% for comment in commentsList %}
            <li>
                {{ comment.content }}
            </li>
        {% endfor %}
    </ul>
</div>