{{ form_start(form) }}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<div class="row justify-content-lg-center">
    <div class="col-lg-4">
        <p id="replyAt"></p>
        {{ form_row(form.content) }}
    </div>
    <div class="col-lg-2 align-self-end">
        {{ form_row(form.envoyer) }}
    </div>
</div>
{{ form_end(form) }}
<div class="mt-5">
    <ul style="list-style: none;">
        {% for comment in commentsList %}
            {% if comment.parent == null %}
            <h5>Commentaire {{ loop.index }}</h5>
                <li class="mb-4">
                    <div class="card bg-secondary text-dark">
                        <div class="card-header">
                            <span class="align-middle">
                                {{ comment.user }}
                            </span>
                            <span style="float: right;">
                                {{ comment.createdAt|ago }}
                                <a href="#addComment" data-reply="" data-id="{{ comment.id }}"><button class="btn btn-outline-warning btn-sm">Répondre</button></a>
                            </span>
                        </div>
                        <div class="card-body">
                            <p class="card-text col-10" id="commentContent_{{ comment.id }}">{{ comment.content|raw }}</p>
                        </div>
                    </div>
                    <!-- Les Réponses des commentaires -->
                    {% for reply in comment.replies %}
                        <li class="mb-4 d-flex justify-content-end">
                            <div class="card bg-secondary text-dark w-75">
                                <div class="card-header">
                                    <span class="align-middle">
                                        Réponse de {{ reply.user }}
                                    </span>
                                    <span style="float: right;">
                                        {{ reply.createdAt|ago }}
                                    </span>
                                </div>
                                <div class="card-body">
                                    <p class="card-text col-10">{{ reply.content|raw }}</p>
                                </div>
                            </div>
                     </li>
                    {% endfor %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>