
<!-- Footer -->
<footer>
  <img id="footerGif" src="{{asset("build/images/footergif.gif")}}" alt="">
  <div id="footer-content">
    <!-- Section: Social media -->
    <section id="socialMedia">
      <!-- Facebook -->
      <a class="btn" href="https://fr-fr.facebook.com/rouelibre.lehavre/">
      <img src="{{ asset('build/images/fb-white.png') }}">
      </a>

      <!-- Twitter -->
      <a class="btn" href="https://twitter.com/larouelibre_lh">
      <img src="{{ asset('build/images/twitter-white.png') }}">
      </a>

      <!-- Instagram -->
      <a class="btn" href="https://www.instagram.com/larouelibre_lh/?hl=fr">
      <img src="{{ asset('build/images/insta-white.png') }}">
      </a>

      <!-- Linkedin -->
      <a class="btn" href="https://fr.linkedin.com/company/la-roue-libre">
      <img src="{{ asset('build/images/Linked-white.png') }}">
      </a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section id="newsletter">
      {{ render(controller("App\\Controller\\SubscribeNewsletterController::register")) }}
    </section>
    <!-- Section: Form -->

  </div>
  <!-- Copyright -->
  <div id="copyright" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a href="">la-roue-libre.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->