<!-- Footer -->
<footer class="text-center txt-lg-start bg-light">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        >https://fr-fr.facebook.com/rouelibre.lehavre/<i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        >https://twitter.com/larouelibre_lh<i class="fab fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        >https://www.instagram.com/larouelibre_lh/?hl=fr<i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        >https://fr.linkedin.com/company/la-roue-libre<i class="fab fa-linkedin-in"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      {{ render(controller("App\\Controller\\SubscribeNewsletterController::register")) }}
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">La Roue Libre</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="{{ path('home') }}" class="text-dark">Accueil</a>
            </li>
            {% for page in pages() %}
            <li>
              <a href="{{ path('page', {'slug': page.slug }) }}" class="text-dark">{{ page.name }}</a>
            </li>
            {% endfor %}
            <li>
              <a href="{{ path('articles') }}" class="text-dark">Articles</a>
            </li>
            <li>
              <a href="{{ path('contact') }}" class="text-dark">Contact</a>
            </li>
            <!--<li>
              <a href="" target="_blank" class="text-white">site_map</a>
            </li>-->
            <li>
              <a href="{{ path('app_register') }}" class="text-dark">Inscription</a>
            </li>
            <li>
              <a href="{{ path('app_login') }}" class="text-dark">connexion</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        Grid column-->

        <!--Grid column
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        Grid column-->

        <!--Grid column
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">la-roue-libre.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->