<!-- Footer -->
<footer class="text-center txt-lg-start">
<div id="footer">
<img id="footergif" src="{{asset("build/images/footergif.gif")}}" alt="">
</div> 
  <!-- Grid container -->
  <div class="footerbg">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn" href="https://fr-fr.facebook.com/rouelibre.lehavre/">
      <img src="{{ asset('build/images/fb-white.png') }}">
      </a>

      <!-- Twitter -->
      <a class="btn" href="https://twitter.com/larouelibre_lh">
      <img src="{{ asset('build/images/twitter-white.png') }}">
      </a>

      <!-- Instagram -->
      <a class="btn" href="https://www.instagram.com/larouelibre_lh/?hl=fr">
      <img src="{{ asset('build/images/insta-white.png') }}">
      </a>

      <!-- Linkedin -->
      <a class="btn" href="https://fr.linkedin.com/company/la-roue-libre">
      <img src="{{ asset('build/images/Linked-white.png') }}">
      </a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="newsletter">
      {{ render(controller("App\\Controller\\SubscribeNewsletterController::register")) }}
    </section>
    <!-- Section: Form -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div id="copyright" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="">la-roue-libre.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->