<nav id="navbar" class="navbar bg-light">
    <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('build/images/Logo.png') }}" alt=""></a>
    <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% for page in pages() %}
        <li class="nav-item">
          <a class="nav-link {% if currentURL is defined and currentURL == page.slug %} active {% endif %}" aria-current="page" href="{{ path('page', {'slug': page.slug }) }}">{{ page.name }}</a>
        </li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link {% if currentURL is defined and currentURL == "articles" %} active {% endif %}" aria-current="page" href="{{ path('articles') }}">Actualité</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if currentURL is defined and currentURL == "contact" %} active {% endif %}" aria-current="page" href="{{ path('contact') }}">Contact</a>
        </li>
      </ul>
    </div>
</nav>


