<nav id="navbar" class="navbar bg-light">
    <a class="navbar-brand" href="{{ path('home') }}">
      <img src="{{ asset('build/images/Logo.png') }}" alt="">
    </a>
    <div>
      <ul class="navbar-nav">
      {% for page in pages() %}
        <li class="nav-item">
          <a class="nav-link {% if currentURL is defined and currentURL == page.slug %} active {% endif %}" aria-current="page" href="{{ path('page', {'slug': page.slug }) }}">{{ page.name }}</a>
        </li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link {% if currentURL is defined and currentURL == "articles" %} active {% endif %}" aria-current="page" href="{{ path('articles') }}">Actualité</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if currentURL is defined and currentURL == "contact" %} active {% endif %}" aria-current="page" href="{{ path('contact') }}">Contact</a>
        </li>
      </ul>
    </div>
</nav>
