{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container-5">
        {% include "partial/__flashMessages.html.twig" %}
        <h1 class="text-center mb-5">Contactez nous et envoyez nous vos avis !</h1>
        {{ form_start(form) }}
        <div class="mail">
            <div class="mail1">{{ form_row(form.emailFrom) }}</div>
            <div class="mail2">{{ form_row(form.subject) }}</div>
        </div>
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
     <img class="fond-contact" src="{{ asset('build/images/fond-vague-rouge.png' )}}" alt="">
{% endblock %}
