{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
{% include "partial/__flashMessages.html.twig" %}
<h1 class="titrecontact">Contact</h1>
<div id="contact-relative">
    <img id="fond-contact" src="{{ asset('build/images/fond-contact.svg') }}" alt="">
    <div id="contact-content">
        <h1 class="text-center5">Contactez nous et envoyez nous vos avis !</h1>
        {{ form_start(form) }}
        <div id="header-form">
            {{ form_row(form.emailFrom) }}
            {{ form_row(form.subject) }}
        </div>
        {{ form_widget(form) }}
        {{ form_end(form) }}
        
    </div>
</div>
<div id="group-horraire-contact">
    <div class="horraire-contact">
        <h3>Le Havre</h3>
        <div>
            <img class="horraire-contact-logo" src="{{ asset('build/images/picto-telephone.png')}}" alt="">
            <div>09 84 11 52 95</div>
        </div>
        <div>
            <img class="horraire-contact-logo" src="{{ asset('build/images/horloge.png')}}" alt="">
            <div>10h - 18h du Mardi au Samedi</div>
        </div>
    </div>
    <div class="horraire-contact">
        <h3>Harfleur</h3>
        <div>
            <img class="horraire-contact-logo" src="{{ asset('build/images/picto-telephone.png')}}" alt="">
            <div>09 84 11 52 95</div>
        </div>
        <div>
            <img class="horraire-contact-logo" src="{{ asset('build/images/horloge.png')}}" alt="">
            <div>10h - 12h / 14h - 18h Mardi et Mercredi et 10h - 12h le Samedi</div>
        </div>
    </div>
    <div class="horraire-contact">
        <h3>Montivilliers</h3>
        <div>
            <img class="horraire-contact-logo" src="{{ asset('build/images/picto-telephone.png')}}" alt="">
            <div>07 49 86 00 12</div>
        </div>
        <div>
            <img class="horraire-contact-logo" src="{{ asset('build/images/horloge.png')}}" alt="">
            <div>10h - 12h / 14h - 18h du Jeudi au Vendredi et 14h - 18h le Samedi</div>
        </div>
    </div>
</div>
{% endblock %}
