<section id="addComment">
    <h1>Commentaires</h1>
    {% include "partial/__flashMessages.html.twig" %}
    {{form_start(form)}}
        <div class="form-display">
            {{form_row(form.content)}}
            {{form_row(form.envoyer)}}
        </div>
        {{form_row(form.parentId)}}
    {{form_end(form)}}
    {{ knp_pagination_render(commentsList,'base/pagination.html.twig') }}
    <div>
        {% if commentsList is not empty %}
            <ul id="commentaires">
                {% for comment in commentsList %}
                
                    {% if comment.parent == null %}

                        <h5>Commentaire N°{{ loop.index }}</h5>
                            <li class="commentaire">
                                {% if comment.user == null %}
                                    Utilisateur anonyme
                                {% endif %}
                                {{ comment.user }}
                                <p id="commentContent_{{ comment.id }}">{{ comment.content|raw }}</p>
                                
                                <div>
                                    <span>{{ comment.createdAt|ago }}</span>
                                    <a href="#addComment" data-reply="" data-id="{{ comment.id }}"><button class="btn btn-outline-success">Répondre</button></a>
                                </div>
                                <!-- Les Réponses des commentaires -->
                                <div class="card-reply">
                                    {% for reply in comment.replies %}

                                        {% if reply.isChecked %}

                                            <li class="commentaire reply">
                                                Réponse de {{ reply.user }}
                                                <p>{{ reply.content|raw }}</p>
                                                {{ reply.createdAt|ago }}
                                            </li>

                                        {% endif %}

                                    {% endfor %}
                                </div>
                            </li>
                    {% endif %}

                {% endfor %}
            </ul>
        {% else %}
            <h3 class="text-center">Il n'y a aucun commentaire pour cette ressource, soyez le premier à en poster un !</h3>
        {% endif %}
    </div>
</section>