 <section class="mt-5 pt-5" id="addComment">
    <h4>Commentaires</h4>
    {{ form_start(form) }}
    {% include "partial/__flashMessages.html.twig" %}
    <div class="row justify-content-lg-center">
        <div class="col-lg-4">
            <p id="replyAt"></p>
            {{ form_row(form.content) }}
        </div>
        <div class="col-lg-2 align-self-end">
            {{ form_row(form.envoyer) }}
        </div>
    </div>
    {{ form_end(form) }}
    <div class="mt-5">
        {% if commentsList is not empty %}

            <ul style="list-style: none;">
                {% for comment in commentsList %}
                
                    {% if comment.parent == null %}

                        <h5>Commentaire N°{{ loop.index }}</h5>
                            <li class="mb-4">
                                <div class="card bg-secondary text-dark">
                                    <div class="card-header">
                                        <span class="align-middle">
                                            {% if comment.user == null %}
                                                Utilisateur anonyme
                                            {% endif %}
                                            {{ comment.user }}
                                        </span>
                                        <span style="float: right;">
                                            {{ comment.createdAt|ago }}
                                            <a href="#addComment" data-reply="" data-id="{{ comment.id }}"><button class="btn btn-outline-warning btn-sm">Répondre</button></a>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text col-10" id="commentContent_{{ comment.id }}">{{ comment.content|raw }}</p>
                                    </div>
                                </div>
                                
                                <!-- Les Réponses des commentaires -->
                                {% for reply in comment.replies %}

                                    {% if reply.isChecked %}

                                        <li class="mb-4 d-flex justify-content-end">
                                            <div class="card bg-secondary text-dark" style="width:95%;">
                                                <div class="card-header">
                                                    <span class="align-middle">
                                                        Réponse de {{ reply.user }}
                                                    </span>
                                                    <span style="float: right;">
                                                        {{ reply.createdAt|ago }}
                                                    </span>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text col-10">{{ reply.content|raw }}</p>
                                                </div>
                                            </div>
                                        </li>

                                    {% endif %}

                                {% endfor %}
                            </li>
                    {% endif %}

                {% endfor %}
            </ul>
        {% else %}
            <h3 class="text-center">Il n'y a aucun commentaire pour cette ressource, soyez le premier à en poster un !</h3>
        {% endif %}
    </div>
</section>