<section id="addComment">
    <h1>Commentaires</h1>
    {% include "partial/__flashMessages.html.twig" %}
    {{form_start(form)}}
        <div class="form-display">
            {{form_row(form.content)}}
            {{form_row(form.envoyer)}}
        </div>
        {{form_row(form.parentId)}}
    {{form_end(form)}}
    <div>
        {% if commentsList is not empty %}
            <ul id="commentaires">
                {% for comment in commentsList %}
                
                    {% if comment.parent == null %}

                        <h5>Commentaire N°{{ loop.index }}</h5>
                            <li class="commentaire">
                                {% if comment.user == null %}
                                    Utilisateur anonyme
                                {% endif %}
                                {{ comment.user }}
                                <p id="commentContent_{{ comment.id }}">{{ comment.content|raw }}</p>
                                
                                <div>
                                    <span>{{ comment.createdAt|ago }}</span>
                                    <a href="#addComment" data-reply="" data-id="{{ comment.id }}"><button class="btn btn-outline-success">Répondre</button></a>
                                </div>
                                <!-- Les Réponses des commentaires -->
                                {% for reply in comment.replies %}

                                    {% if reply.isChecked %}

                                        <li class="mb-4 d-flex justify-content-end">
                                            <div class="card bg-secondary text-dark" style="width:95%;">
                                                <div class="card-header">
                                                    <span class="align-middle">
                                                        Réponse de {{ reply.user }}
                                                    </span>
                                                    <span style="float: right;">
                                                        {{ reply.createdAt|ago }}
                                                    </span>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text col-10">{{ reply.content|raw }}</p>
                                                </div>
                                            </div>
                                        </li>

                                    {% endif %}

                                {% endfor %}
                            </li>
                    {% endif %}

                {% endfor %}
            </ul>
        {% else %}
            <h3 class="text-center">Il n'y a aucun commentaire pour cette ressource, soyez le premier à en poster un !</h3>
        {% endif %}
    </div>
</section>